{{!-- Pkill -9 node --}}
{{!-- Use to port is already in use --}}

<div class="navbar">
    <ul class="nav block">
        <li class="navList"><a href="/rickandmorty">Rick and Morty</a></li>
        <li class="navList"><a href="/starwars">Star Wars</a></li>
        <li class="navList"><a href="/thetrump">Das Trumpert</a></li>
    </ul>
</div>